<h1>Zawidawie.Info - O serwisie</h1>
<br />
<p>Wortal Zawidawie.Info powstał na początku 2008 roku jako kontynuacja i
rozbudowa istniejącej od 2005 roku strony osiedla Zakrzów we Wrocławiu. Skonstruowany został siłami
i środkami niejakiego Juzefa (<a href="http://www.juzef.idl.pl"
target="_blank">devBlog</a>), zaś autorem części graficznej oprawy serwisu jest
<a href="http://www.chwedziak.pl" target="_blank">Marcin "tiraeth"
Chwedziak</a>.</p><br />
<p>Treści zamieszczane na tej stronie, o ile nie zaznaczono inaczej, dostępne są na zasadach <a
href="http://creativecommons.org/licenses/by/3.0/pl/" rel="license"  target="_blank">licencji
Creative Commons Uznanie autorstwa 3.0 Polska</a>. <b>To znaczy: możesz z nich korzystać, także komercyjnie, pod warunkiem podania
źródła pochodzenia w formie linka do strony zawidawie.info.</b>
<br />Wortal należy także do <a
href="http://www.wroclawskieosiedla.pl" target="_blank">projektu Polinezja</a>,
zrzeszającego strony wrocławskich osiedli.</p><br />
<p><strong>Kontakt z zarządem</strong></p>
<p>We wszelakich sprawach ze stroną związanych można pisać pod <strong>ekipa [małpa] zawidawie.info.</strong></p><br />
<p><strong>Cel?</strong></p>
<p>Zawidawie.Info ma być w założeniu stroną dostarczającą w jednym miejscu w miarę aktualne wieści
z najbliższego regionu, jak również szereg innych, choćby teoretycznie przydatnych
informacji. Ponieważ autor strony nie zawsze wie wszystko dobrze i szybko,
również użytkownicy mają możliwość bycia posądzonymi o współudział przez
dodawanie własnych informacji. </p><br />
<p><strong>Z czym to się je?</strong> </p>
<p>
   Strona najlepiej smakuje w przeglądarkach Firefox (i pochodne Mozilli),
Opera, Konqueror (słowem wszystkich poza Internet Explorerem, który jest
niezalecany) w rozdzielczości min. 1024x768.</p><br />
<p><strong>Co to
będzie?</strong></p><p>    Ciężko jednoznacznie stwierdzić na moment obecny.
Jedno jest pewne - strona to przede wszystkim użytkownicy i to od Was zależy jak
to wszystko będzie wyglądało, czy rozwinie się czy nie. Na pewno wg. ambicji
autora serwis powinien stać się przynajmniej jedną z porządniejszych technicznie
stron pośród wrocławskich serwisów osiedlowych.</p>