<h1>Zawidawie.Info - Regulamin serwisu</h1>
<p style="text-align: center">obowiązuje od 1.01.2008r.</p>
<p style="text-align: center">Niniejszy regulamin określa zasady uczestnictwa użytkowników przy
współtworzeniu niniejszej strony, warunki techniczne, których spełnienie jest
niezbędne przy zamieszczaniu materiałów, zasady głosowania i komentowania treści
oraz sposób administrowania stroną.</p><br />
<blockquote>
<p><strong>I POSTANOWIENIA OGÓLNE</strong></p>
<p><strong>§1.</strong> . Strona jest własnością
autora, powszechniej znanego pod kryptonimem <em>Juzef</em>, pełniącego również
funkcję administratora serwisu.</p>
<p><strong>§2.</strong> Użytkownik strony to
każdy, kto jest zalogowany na stronie i posiada na niej swoje
konto.</p>
<p><strong>§3. </strong>Zasady publikacji i wykorzystania treści
zawartych na stronie, będących własnością użytkowników, określa <a
href="http://creativecommons.org/licenses/by/2.5/pl/" target="_blank">Licencja
Creative Commons</a> zwana dalej Licencją. Użytkownik umieszczając w serwisie
jakiekolwiek własne treści jednocześnie wyraża zgodę na rozpowszechnianie ich na
zasadach Licencji.  </p>
<p><strong>§4.</strong> Każdy zalogowany użytkownik ma
prawo uczestniczyć w tworzeniu strony
poprzez:</p>
<blockquote>
<p><strong>1.</strong>pisanie newsów, artykułów publicystycznych, jak i innych związanych z
charakterem strony,<br /> <strong>2.</strong> branie udziału w dyskusji na
forum,<br /> <strong>3.</strong> głosowanie i komentowanie zamieszczanych
materiałów,
<br /> <strong>4.</strong> dodawanie zdjęć i tworzenie obiektów
<br /> <strong>5.</strong> dodawanie wpisów w katalogu firm i instytucji</p></blockquote>
</blockquote>
<blockquote><p><strong>II RAMY TEMATYCZNE</strong></p>
<blockquote><p><strong>§7.</strong> Strona ma charakter
informacyjny.</p><p><strong>§8.</strong> Celem strony jest zebranie w jednym
miejscu możliwie konkretnych, aktualnych i pełnych informacji wszelkiego rodzaju na temat
przeszłości, dnia dzisiejszego i planów na przyszłość dotyczących wrocławskich osiedli 
położonych za rzeką Widawą: Psiego Pola - Zawidawia oraz Pawłowic.</p></blockquote>
<p><strong>III WARUNKI UCZESTNICTWA
W TWORZENIU STRONY</strong></p><blockquote><p><strong>§11.</strong> Każdy z
użytkowników strony może zamieszczać na niej materiały (m. in. fotografie,
artykuły).</p><p><strong>§12.</strong> Dodawane materiały powinny mieścić się w
ramach tematycznych strony.</p><p><strong>§13.</strong> Przy zamieszczaniu na
stronie materiałów, których uczestnik nie jest autorem, obowiązkowo należy podać
źródło, z którego dane materiały pochodzą lub nazwę instytucji posiadającej
prawa autorskie. W przypadku braku tych informacji materiały zostaną usunięte ze
strony przez administratora.</p><p><strong>§15.</strong> Zamieszczone przez
użytkownika materiały (zdjęcia/fotografie lub artykuły) są chronione prawem
autorskim, jednakże administratorzy strony traktują je jako powierzoną do
publikacji kopię i mogą dokonywać skrótów i kompilacji w celu zapewnienia
atrakcyjności strony i spełnienia wymagań merytoryczno-technicznych. Materiały
mogą być także odrzucane w całości lub odsyłane autorowi do
poprawy.</p><p><strong>§16.</strong> Za umieszczone na stronie materiały
odpowiedzialność ponoszą użytkownicy je
zamieszczający.</p></blockquote><p><strong>IV WARUNKI
TECHNICZNE</strong></p><blockquote><p><strong>§17.</strong> Każdy z użytkowników
przed zamieszczeniem materiałów na stronie powinien je poddać odpowiedniej
obróbce. W przypadku fotografii i zdjęć - graficznej, tekstu - gramatycznej i
ortograficznej.</p><p><strong>§18. </strong><strong>Publikując materiał na
stronie autor jednocześnie wyraża zgodę na rozpowszechnianie go na zasadach
Licencji Creative Commons.</strong></p><p><strong>§19. </strong>W przypadku użytkowników
najniższej rangi, dodawane przez nich materiały przed publikacją muszą zostać
zweryfikowane przez administratora, tak więc nie pojawią się natychmiast na
stronie, a dopiero po ich akceptacji.</p><p><strong>§20.</strong> Publikowane na
stronie materiały powinny spełniać następujące warunki
techniczne:</p><blockquote><p><strong>1.</strong> Typ obrazu (rozszerzenie)
powinien być dobrany w zależności od tego czy chcemy przedstawić grafikę
(grafikę wektorową, schemat, plan), czy opublikować fotografię/zdjęcie. Dla
fotografii/zdjęcia odpowiednim rozszerzeniem jest JPG, a dla grafiki
PNG.</p><p><strong>2.</strong> Rozdzielczość preferowana zdjęć to 1200x900px,
jednak w przypadku, gdyby taki format  był nieodpowiedni ze względu na
charakterystykę zdjęcia, można zastosować inne rozdzielczości. Jedynym limitem
jest rozmiar pliku - max. 1MB. </p><p><strong>3.</strong> Wymiary zdjęcia<br />
<strong>a.</strong> Za standardowe wymiary fotografii przyjmuje się obraz o
szerokości 1200 i wysokości 900 pikseli i odwrotnie przy kadrze pionowym.</p><p
style="text-align: left"><strong>4.</strong> Zwłaszcza w przypadku aktualnych
informacji w miarę możliwości należy podać źródło, skąd zaczerpnięto
wiadomość.</p></blockquote></blockquote><p><br /><strong>V GłOSOWANIE I
KOMENTOWANIE MATERIAłÓW</strong></p><blockquote><p><strong>§21.</strong> Własne
komentarze do zdjęć i artykułów powinny mieć charakter merytoryczny, wnosząc
istotne treści, mające na celu poszerzenie wiedzy innych użytkowników na dany
temat, mogą także być sformułowane w formie pytania związanego ze zdjęciem bądź
artykułem.</p><p><strong>§22.</strong> Nie dopuszcza się komentarzy
niezwiązanych z tematem (patrz §21), niosących obraźliwe i dwuznaczne
sformułowania w kierunku innych użytkowników jak również zawierające słowa
powszechnie uważane za wulgarne. <strong>Tego typu wypowiedzi będą usuwane a
wobec użytkowników mogą zostać wyciągnięte odpowiednie
konsekwencje!</strong></p><p><strong>§23.</strong> Komentarze mające na celu
zwrócenie uwagi administracji strony na kwestie techniczne powinny być zakładane
na forum, z podaniem linka do materiału, którego dotyczą.
</p><p><strong>§24.</strong> Dyskusje niezwiązane bezpośrednio z tematem
materiału przeprowadza się na Forum.<em></em></p><p><strong>§25.</strong> Zasady
dalszego wykorzystywania materiałów zgromadzonych w serwisie www.zawidawie.info
określa Licencja. </p></blockquote><p><strong>VI ADMINISTROWANIE
STRONĄ</strong></p><blockquote><p><strong>§26.</strong> Administratorzy
powołując się w uzasadnieniu na odpowiedni punkt regulaminu mają prawo usuwać
materiały niespełniające podstawowych kryteriów przyjętych na stronie
(niemieszczących się w ramach tematycznych), bez względu na ich noty w
głosowaniu publicznym, a także kasować niewłaściwe komentarze - kierując się
utrzymaniem porządku na stronie, zachowaniem właściwego poziomu merytorycznego i
technicznego zamieszczanych materiałów oraz odpowiedniego poziomu
dyskusji.</p><p><strong>§26a.</strong><span class="font1au"></span>
Administratorzy mają uprawnienia do zarządzania kontami użytkowników, tj. do
zmiany loginu, konta e-mailowego, hasła a także poziomu uprawnień.<br />
</p></blockquote><p><strong>VII POSTANOWIENIA
KOŃCOWE</strong></p><blockquote><p><strong>§31.</strong> Utworzenie własnego
konta (pierwsze logowanie) na stronie oznacza obowiązek przeczytania i
akceptację przepisów niniejszego regulaminu.</p><p><strong>§32.</strong>
Użytkownicy posiadający konta (zalogowani) przed wejściem w życie niniejszego
regulaminu są zobowiązani do jego przeczytania i przestrzegania. Brak akceptacji
niniejszego regulaminu przez użytkowników zobowiązuje ich do wylogowania i
likwidacji konta.</p><p><strong>§33.</strong> Niestosowanie się do zasad
określonych w niniejszym regulaminie spowoduje upomnienie, zablokowanie oraz
usunięcie przez administratora konta ze strony.</p><p><strong>§34.</strong> W
kwestiach nieuregulowanych w niniejszym regulaminie głos decydujący ma
administrator.</p><p><strong>§35.</strong> Administracja strony zastrzega sobie
prawo do zmian w treści regulaminu.</p><p><strong>§36.</strong> Uczestnictwo na
stronie nie jest obowiązkowe.</p><p><strong>§37.</strong> Niniejszy regulamin
wchodzi w życie z dniem 1 stycznia 2008 r.</p>
<p><strong></strong><strong></strong><strong><br /></strong></p></blockquote>
</blockquote><p> </p>
<br />