<h1>Zawidawie.Info - Reklama w serwisie</h1>
<p>Strona jest przedsięwzięciem w zasadzie niekomercyjnym. Jeśli jednak jesteś zainteresowany umieszczeniem tu swojej reklamy za niewielką opłatą 
(tak tak, serwer sam sie nie utrzyma), pisz śmiało na: ekipa [at] zawidawie.info</p>