{% extends '::base.html.twig' %}

{% block title %}Aktualności - Zawidawie.info{% endblock %}

{% block body %}

<div id="container">
      <div class="content">
	<h1>Aktualności {% if tag is defined %}oznaczone jako '{{ tag.name }}'{% endif %}</h1><br/>

	{% for n in news %}
	  <br class="clear" />
	  {% include 'ZawidawieInfoCoreBundle:News:news.html.twig' with {'news': n} %}
	  <br class="clear" />
	{% endfor %}

	{% include 'ZawidawieInfoCoreBundle:Default:pager.html.twig' with {'pager': news} %}

	<br class="clear"/>
      </div>
</div>

<div id="sidebar">
      <div class="content">
		{% render 'ZawidawieInfoCoreBundle:News:popular' %}
      </div>
</div>

{% endblock %}