{% extends "::base.html.twig" %}

{% block body %}
  <div id="container-full">
  	<div class="content">
		  <h1>Rejestracja konta użytkownika</h1>
		  <div>
			  <p>Rejestracja daje Ci możliwość bycia aktywnym członkiem społeczności internetowej naszego osiedla. Zakładając konto zyskujesz możliwość komentowania bieżących wydarzeń, prowadzenia dyskusji na forum oraz współtworzenia wortalu przez dodawanie własnych informacji, zdjęć i innych treści. Nie wspominając o prestiżu... <br /><strong>Nie zwlekaj, zarejestruj się już teraz!</strong></p>
		  </div>
		  <!--Formularz rejestracyjny-->
		  <div id="reg-form">
			  <div class="alert" id="reg-form-error" style="display: none">Nastąpił błąd podczas wysyłania formularza - nie można połączyć się z serwerem. Spróbuj ponownie za chwilę...</div>
			  <form action="{{ path('fos_user_user_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_user_new">
			    {{ form_widget(form) }}
			            <input type="submit" value="Zarejestruj" />
			  </form><!--Koniec formularza rejestracyjnego-->
		  </div>
		  <div>
			  <h3>Uwagi techniczne</h3>
			  <p class="strong">Korzystanie z serwisu oznacza akceptację <a href="http://www.zawidawie.info/zawidawie_dev.php/str/regulamin-serwisu.html" >jego regulaminu.</a></p>
			  <p>Wszystkie powyższe pola muszą zostać właściwie wypełnione. Jeden adres email może być przypisany tylko do jednego konta. Po wysłaniu formularza otrzymasz e-mail potwierdzający rejestrację wraz z podanymi przy tej okazji danymi konta. Bezpośrednio po poprawnym wypełnieniu formularza możesz się zalogować.</p>
		  </div>
	</div>
  </div>


{% endblock body %}
