{% extends "::base.html.twig" %}

{% block body %}
<h3>Odzyskiwanie hasła profilu użytkownika: <?php echo $user->getUsername();?></h3>
<div style="margin: 0 auto; width: 80%; border: 1px solid #cccccc;">
<p>To już ostatni krok - podaj nowe hasło do swojego profilu.</p><br />
<form action="{{ path('fos_user_user_reset_password_update', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_user_reset_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Zapisz nowe hasło" />
    </div>
</form>
</div>
{% endblock body %}
